/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Ruhl";
    src: url("/fonts/FrankRuhlLibre-Regular.ttf");
  }
  @font-face {
    font-family: "Ruhl Medium";
    src: url("/fonts/FrankRuhlLibre-Medium.ttf");
  }
  @font-face {
    font-family: "Vibes";
    src: url("/fonts/GreatVibes-Regular.ttf");
  }
  
  html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(1.2rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: var(--header1);
  }
  li,
  button,
  label,
  input,
  a,
  p {
    font-size: var(--text);
  }
  h2 {
    font-size: var(--header2);
  }
  h3 {
    font-size: var(--header3);
  }
  h4,
  h5 {
    font-size: var(--header4);
  }
  
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: "Ruhl", sans-serif;
    animation: openings 1.5s ease-in-out forwards;
  }
  h1 {
    font-family: "Vibes", sans-serif;
  }
  
/*   nav section */
.main-head{
 box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
 z-index: 2;
}
.main-head nav{
  width: 90%;
  margin:auto;
  display: flex;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding:2rem 0rem
}
.logo{
  flex:1 1 20rem;
}
.nav-links{
  display: flex;
  flex:1 1 20rem;
  justify-content: space-around;
}

/* hero section */

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow:hidden;
}

.hero-introduction{
  flex: 2 1 40rem;
  text-align: center;
}
.hero-images{
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd,#dad1d4);
  position: relative;
  z-index: 1;
}
.hero-elena{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.hero-introduction h2{
  padding-top:3rem
}
.hero-introduction p{
  padding: 5rem 10rem;
  color:var(--gray-text);
}
.hero-introduction a{
  border:3px solid black;
  padding: 2rem 4rem;
}
.plant{
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translatex(10%) rotateZ(-10deg) rotateX(-90deg);
  animation: plant 1.5s ease-in-out 0.5s forwards,
  plantShake 2.5s ease infinite alternate-reverse 2s;
  max-height: 80%;
  transform-origin: bottom;
}
.plant2{
  left: 40%;
}

/* animations */
@keyframes openings{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes plant{
  from{
    transform: translatex(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to{
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plantShake{
  from{
    transform: rotateZ(-5deg) ;
  }
  to{
    transform: rotateZ(0deg);
  }
}

/* about section */
.about{
  min-height: 100vh;
  display: flex;
flex-wrap: wrap; 
}
.about-image{
  flex:1 1 40rem;
  position: relative;
}
.about-image h5{
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%,-20%);
  letter-spacing: 2rem;
}
.about-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text{
  flex:2 1 40rem;
  color:white;
  background-color:var(--background-color);
  justify-content: space-around;
}
.about-text div{
  padding: 3rem 8rem;
}
.about-text h3{
  font-family: "Ruhl Medium";
  padding:2rem 0rem;
}
.about-text h2{
  font-family: "Vibes";
  padding:4rem;
}

/*  gallery section */
.gallery{
  display: grid;
  height: 100vh;
  position: relative;
  grid-template-columns: repeat(3,1fr);
}
.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery1{
  grid-column:1/3;
}
.gallery2{
  grid-column: 3/4;
  grid-row: 1/3;
}
.gallery header{
  position: absolute;
  color: white;
  text-align: center;
  top:50%;
  left: 50%;
  padding:3rem;
  transform: translate(-50%,-20%);
  border:1 px solid var(--gray-text);
  background-color:var(--background-color);
}

.contact{
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper{
  flex: 3 1 40rem;
}
.form-wrapper h1{
  margin-bottom: 2rem;
}
.form-wrapper label{
  display: block;
}
.form-wrapper input{
  display: block;
  margin:3rem 0rem;
  background-color: var(--background-color);
  color:white;
  border:none;
  padding:1rem;
}
.form-wrapper button{
padding:1rem 8rem;
background-color:var(--special-color);
color:white;
border:none;
width: 100%;
}
  .form-wrapper span{
  font-size: var(--big);
  color:var(--special-color)
}
.contact img{
  flex: 1 1 40rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer{
  background-color:var(--special-color);
  display: flex;
  color:white;
  padding: 3rem 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer h4{
  flex:1 1 40rem
}
footer ul{
  display: flex;
  flex:2 1 40rem ;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 842px) {
  .hero{
    width: 100%;
  }
  .hero-introduction p{
    padding: 5rem 3rem;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .menu-check{
    position: absolute;
    top:6%;
    right: 5%;
    transform: translate(5%,-50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
  }
  .menu-check:checked + .nav-links{
    transform: translate(-100%);
  }
  .menu-check:checked ~ .burger span{
    background-color: #fff;
  }
  .about-text div{
    padding:3rem 3rem
  }
  .gallery{
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery img{
    grid-row: auto;
    grid-column: auto;
  }
  .gallery header{
    display: none;
  }
  .contact img{
    display: none;
  }
  footer ul{
order:1
  }
  footer h4{
      order:2;
      text-align: center;
      margin-top: 2rem;

  }
}


@media screen and (min-width: 1700px) {
  html {
    --header1: 3rem;
    --header2: 5rem;
    --header3: 4rem;
    --header4: 3rem;
    --text: 3rem;
    --big: 8rem;
  }
}